<nz-layout class="app-layout" *ngVar="(userState | async) as userState">
  <nz-header>
    <div class="logo-box">
      <a class="logo" nz-icon nzType="file-text" nzTheme="fill" routerLink="/home"></a>
      <a class="title" routerLink="/home">Crap Posts</a>
    </div>
    <ul *ngIf="userState?.isLoggedIn" nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/home" [class.ant-menu-item-selected]="currentRoute==='/home'||currentRoute===''">Home</li>
      <li nz-submenu nz-menu-item routerLink="/posts" nzTitle="Posts" [class.ant-menu-item-selected]="currentRoute==='/posts' || currentRoute==='/my-posts' || currentRoute==='/create-post' || currentRoute.split('/')[1]==='edit-post'" >
        <ul>
          <li nz-menu-item routerLink="/posts" [class.ant-menu-item-selected]="currentRoute==='/posts'">All Posts</li>
          <li nz-menu-item routerLink="/my-posts" [class.ant-menu-item-selected]="currentRoute==='/my-posts'">My Posts</li>
          <li nz-menu-item routerLink="/create-post" [class.ant-menu-item-selected]="currentRoute==='/create-post'">Create Post</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/account" [class.ant-menu-item-selected]="currentRoute==='/account'">Account</li>
      <li nz-menu-item nzDanger (click)="logOut()" style="float: right">Logout</li>
      <li nz-menu-item routerLink="/account" [class.ant-menu-item-selected]="false" style="color: yellow; float: right">{{userState?.userProfile.username}}</li>
    </ul>
    <ul *ngIf="!userState?.isLoggedIn" nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/home" [class.ant-menu-item-selected]="currentRoute==='/home'">Home</li>
      <li nz-menu-item routerLink="/posts" [class.ant-menu-item-selected]="currentRoute==='/posts'">Posts</li>
      <li nz-menu-item routerLink="/login" [class.ant-menu-item-selected]="currentRoute==='/login'">Login</li>
      <li nz-menu-item routerLink="/register" [class.ant-menu-item-selected]="currentRoute==='/register'">Register</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Copyright ©2021 The Michael Company</nz-footer>
</nz-layout>