<h1 class="page-header">Create Post!</h1>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input title!">
        <input nz-input formControlName="title" placeholder="Title"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Text</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input text!">
        <textarea formControlName="text" nz-input rows="2" placeholder="Text"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button (click)="resetFormClick($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>